@use "../../../presets" as *;
@use "../../../mixins" as *;

.actions {
  display: flex;
  align-items: center;

  gap: $gap;
  @include sm-min {
    justify-content: flex-end;
  }
  @include sm {
    justify-content: space-between;
    a {
      color: $color-gray-text;
    }
  }

  &__languages {
    display: flex;

    letter-spacing: 1px;

    font-size: 12px;
    font-weight: 700;

    gap: 2px;

    &-link {
      padding: 6px 5px;

      border-radius: 8px;

      &.active {
        color: $color-white;
        background-color: $color-accent;
      }
    }
  }

  &__locations {
    font-size: 16px;
    font-style: normal;

    @include sm {
      display: none;
    }
  }

  &__numbers {
    font-size: 16px;
    font-weight: 700;
  }

  &__socials {
    margin-left: 5px;

    @include sm {
      display: none;
    }
  }
}
