@use "../../../presets" as *;
@use "../../../mixins" as *;

.actions {
  display: flex;
  align-items: center;

  gap: $gap;

  @include sm-min {
    justify-content: flex-end;
  }

  @include sm {
    justify-content: space-between;
  }

  &__languages {
    display: flex;

    letter-spacing: 1px;

    font-size: 12px;
    font-weight: 700;

    gap: 2px;

    &-link {
      padding: 6px 5px;
      border-radius: 8px;
      color: $color-white;

      &.active {
        background-color: $color-accent;
      }

      &:hover:not(.actions__languages-link.active) {
        color: $color-primary;
        background-color: $color-active-regular;
        transition: 0.3s;
      }

    }
  }

  &__locations {
    font-size: 16px;
    font-style: normal;

    @include sm {
      display: none;
    }
  }

  &__numbers {
    font-size: 16px;
    font-weight: 700;

    @include sm {
      a {
          color: $color-gray-text;
        }
    }
  }

  &__socials {
    margin-left: 5px;

    @include sm {
      @include visualy-hidden;
    }

    &-svg {
      font-size: 24px;

      &:hover {
        color: $color-active-regular;
        transition: 0.5s;
      }
    }
  }
}
