@use "../../../presets" as *;
@use "../../../mixins" as *;

.actions {
  display: flex;
  align-items: center;

  gap: $gap;

  @include sm-min {
    justify-content: flex-end;
  }

  @include sm {
    justify-content: space-between;
  }

  @media screen and (max-height: 525px) {
    justify-content: space-between;
  }

  &__languages {
    display: flex;

    letter-spacing: 1px;

    font-size: 12px;
    font-weight: 700;

    gap: 2px;

    &-link {
      padding: 6px 5px;
      border-radius: 8px;
      color: $color-white;

      &.active {
        background-color: $color-accent;
      }

      &:hover:not(.actions__languages-link.active) {
        color: $color-primary;
        background-color: $color-active-regular;
        transition: 0.3s;
      }

    }
  }

  &__locations {
    font-size: 16px;
    font-style: normal;

    @include sm {
      @include visualy-hidden;
    }

    @media screen and (max-height: 525px) {
      @include visualy-hidden;
    }
  }

  &__numbers {
    font-size: 16px;
    font-weight: 700;

    @include sm-min {
      margin-right: 27px;
    }

    @media screen and (max-height: 525px) {
      margin-right: 0;
    }

    @include sm {
      a {
        color: $color-gray-text;
      }
    }
  }

  &__socials {

    @include sm {
      @include visualy-hidden;
    }

    @media screen and (max-height: 525px) {
      @include visualy-hidden;
    }

    &-link {
      display: block;

      position: relative;
      left: -24px;
      top: -13px;
    }

    &-svg {
      position: absolute;
      top: 0;
      height: 24px;


      &:nth-child(2):hover {
        opacity: 0;
        transition: 0.5s;
      }
    }
  }
}