@use "../../../presets" as *;
@use "../../../mixins" as *;

.logo {
  &__img {
    @include sm-min {
      width: 155px;
    }

    @include sm {
      width: 78px;
    }

    @media screen and (max-height: 525px) {
      width: 78px;
    }
  }
}