@use "../../../presets" as *;
@use "../../../mixins" as *;

.page-footer {
  position: relative;

  margin-top: -230px;
  padding-bottom: 115px;

  background-color: $color-bg-gray;
  overflow: hidden;

  &__flex {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding-top: 32px;

    &::after {
      content: "";
      width: 100%;
      position: absolute;
      top: 0;
      height: 4px;
      background-color: $color-gray-separator;
    }

    @extend %container;

    @include md {
      flex-wrap: wrap;
      justify-content: center;

      gap: $gap;
    }

    @include sm {
      align-items: center;
      flex-direction: column;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    max-width: 420px;

    @include xs-min {
      gap: $gap;
    }

    @include xs {
      flex-direction: column;

      gap: $gap-sm;
    }
  }

  &__locations {
    color: $color-primary;

    font-size: 16px;
    font-weight: 500;
  }

  &__locations-link {
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active-regular;

    font-size: 12px;
    font-weight: 700;

    &:hover {
      color: $color-accent;
      transition: 0.5s;
    }
  }

  &__numbers-link {
    text-align: right;

    color: $color-primary-alt;

    font-size: 16px;
    font-weight: 700;
  }

  &__emails-link {
    color: $color-active-regular;

    font-size: 16px;
    font-weight: 700;

    &:hover {
      color: $color-accent;
      transition: 0.5s;
    }
  }

  &__copyright {
    color: $color-gray-text;

    font-size: 16px;

    @include sm-min {
      text-align: right;
    }

    @include sm {
      text-align: center;
    }

    @include xs {
      max-width: 250px;
    }
  }
}

.footer__socials {

  &-link {
    position: relative;
    top: 0;
  }

  &-svg {
    height: 38px;

    &:nth-of-type(1) {
      position: absolute;
      top: -118%;
    }

    &:nth-child(1):hover {
      opacity: 0;
      transition: 0.5s;
    }
  }
}