$color-primary: #323264;
$color-primary-alt: #46466E;
$color-primary-soft: #686887;

$color-accent: #f0145a;

$color-active-regular: #24a3ff;
$color-active-hover: #0085ff;
$color-active-active: #006ccf;

$color-bg-gray: #f5f5fa;
$color-bg-gray-alt: #ededf7;

$color-gray-text: #b3b3da;
$color-gray-separator: #e6e6f0;

$color-white: #ffffff;
$color-black: #000000;
