@use "../../../../presets" as *;
@use "../../../../mixins" as *;

.publications {
  position: relative;
  background-color: $color-bg-gray;

  @include md-min {
    padding-top: 40px;
  }
  @include md-sm {
    padding-top: $gap;
    padding-bottom: 130px;
  }
  @include sm {
    padding-top: $gap;
    padding-bottom: 365px;
  }

  &::before {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 200px;

    content: "";

    background: linear-gradient($bg-gradient-5);

    @include md-min {
      bottom: 21.5%;
    }
    @include md-sm {
      bottom: 23.5%;
    }
    @include sm {
      @include visualy-hidden;
    }
  }

  &__container {
    @extend %container;
  }

  &__text {
    &-link {
      display: block;

      letter-spacing: 1px;
      text-transform: uppercase;

      color: $color-active-regular;

      font-size: 14px;
      font-weight: 700;

      @include xl-sm {
        margin-left: $gap * 1.5;
      }
    }
  }

  &__title {
    @include md-min {
      margin-bottom: 40px;
    }
    @include xl-sm {
      margin-left: $gap * 1.5;
    }
    @include md {
      margin-bottom: $gap;
    }

    &-span {
      font-weight: 700;

      @include gradient ($bg-gradient-3);
      @include sm-min {
        font-size: 42px;
      }
      @include sm {
        font-size: 32px;
      }
    }
  }

  &__button {
    position: absolute;
    z-index: 3;
    left: 50%;

    transform: translateX(-50%);

    @include sm-min {
      top: 70%;
    }
    @include sm {
      top: 72.5%;
    }
  }
}
