@use "../../presets" as *;
@use "../../mixins" as *;

.cases.cases--services {
  @include sm-min {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  @include sm {
    margin-top: 99px;
    margin-bottom: 30px;
  }
}

.services.services--normalize {
  z-index: -1;
}

.pages-header__menu .menu__list-active {
  z-index: 2;
  top: 17%;
  @media screen and (max-height: 525px){
    top: 27%;
  }
}

.pages-header__menu .menu__btn {
  z-index: 3;
}