@use "../../presets" as *;
@use "../../mixins" as *;

.cases.cases--services {
  @include sm-min {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  @include sm {
    margin-top: 99px;
    margin-bottom: 30px;
  }
}