@use "../../presets" as *;
@use "../../mixins" as *;

.services-header {
  background-color: $color-primary;

  &__grid {
    display: grid;

    @extend %container;
    gap: $gap;
    grid-template-columns: auto 1fr;

    @include sm-min {
      padding-top: 50px;

      grid-template-areas: "logo actions""logo menu";
    }

    @include sm {
      padding-top: $gap;

      grid-template-areas: "actions actions""logo menu";
    }
  }


  &__logo {
    grid-area: logo;
  }

  &__menu {
    grid-area: menu;
  }

  &__actions {
    grid-area: actions;
  }
}

.cases.cases--services {
  @include sm-min {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  @include sm {
    margin-top: 99px;
    margin-bottom: 30px;
  }
}

.services-footer {
  position: relative;

  padding-bottom: 40px;

  background-color: $color-bg-gray;

  &__flex {
    display: flex;
    justify-content: space-between;

    padding-top: 32px;

    @extend %container;

    @include md {
      flex-wrap: wrap;
      justify-content: center;

      gap: $gap;
    }

    @include sm {
      align-items: center;
      flex-direction: column;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    max-width: 420px;

    @include xs-min {
      gap: $gap;
    }

    @include xs {
      flex-direction: column;

      gap: $gap-sm;
    }
  }

  &__locations {
    color: $color-primary;

    font-size: 16px;
    font-weight: 500;
  }

  &__locations-link {
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active-regular;

    font-size: 12px;
    font-weight: 700;
  }

  &__numbers-link {
    text-align: right;

    color: $color-primary-alt;

    font-size: 16px;
    font-weight: 700;
  }

  &__emails-link {
    color: $color-active-regular;

    font-size: 16px;
    font-weight: 700;
  }

  &__copyright {
    color: $color-gray-text;

    font-size: 16px;

    @include sm-min {
      text-align: right;
    }

    @include sm {
      text-align: center;
    }

    @include xs {
      max-width: 250px;
    }
  }
}