@use "../presets" as *;
@use "../mixins" as *;

.btn {
  width: 250px;
  min-height: 50px;
  padding: 16px 0;

  text-align: center;

  color: $color-white;
  border: none;
  border-radius: 12px;
  background-color: $color-active-regular;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);

  font-size: 14px;
  font-weight: 700;
}
